* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

#blog {
    font-size: x-large;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

body.light-mode {
    background-color: white;
    color: black;
}
body.dark-mode {
    background-color: black;
    color: white;
}