header {
    width: 100%;
    border: 10px solid darkblue;
    background-color: lightblue;
    text-align: center;
    font-size: large;
  }
  
  section {
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 90%;
    margin: 30px auto;
    border: 10px solid black;
  }

 .card {
  width: 45%;
  height: 45%;
  
 }

#blog_pic {
  height: 500;
  width: auto;
 }

 .field {
  height: 30px;
  width: auto;
 }

 #button {
  height: 50px;
  width: auto;

 }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    height: 525px;
    padding: 30px 40px;
  }